@model Profesor
@{
    var token = ViewBag.Token as string;
}

<section class="vh-100 d-flex flex-column justify-content-center align-items-center bg-black">
    <h2 class="text-white">Modificación de Perfil</h2>
    <form method="post">
        <input asp-for="IdBanner" hidden/>
        <div class="mb-3">
            <label class="form-label text-white">Nombre</label>
            <input class="form-control" asp-for="Nombre">
        </div>
        <div class="mb-3">
            <label class="form-label text-white">Contraseña</label>
            <input class="form-control" asp-for="Contrasenia">
        </div>
        <button asp-route-token=@token type="submit" asp-action="Perfil" class="get-started-btn bg-transparent">Modificar</button>
    </form>
</section>