@model Profesor

<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true"/>


<section class="vh-100 bg-black">
    <div class="login-box">
        <h2>Registro</h2>
        <form method="POST">
            <div class="user-box">
                <input type="text" asp-for="Nombre">
                <label>Nombre</label>
            </div>
            <div class="user-box">
                <input type="text" asp-for="IdBanner">
                <label>IdBanner</label>
            </div>
            <div class="user-box">
                <input type="password" asp-for="Contrasenia">
                <label>Contraseña</label>
            </div>
            <button type="submit" asp-action="Registro">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Registro
            </button>
        </form>
    </div>
</section>